@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

* {
    margin: 0px;
    padding: 0px;
}

.password-meter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 550px;
    height: 200px;
    border-radius: 20px;
    background-color: #805B3E;
    opacity: 0;
    gap: 15px;
    animation: slideUp 1s ease-out forwards;
}

.password-meter > * {
    font-family: 'Times New Roman';
    opacity: 0;
    animation: slideUp 1.25s ease-out forwards;
}

.password-meter-guide {
    font-size: 32px;
    color: #F2E6D8;
    text-shadow: 0 0 3px rgba(0,0,0,0.5);
}

.password-meter-input {
    font-size: 18px;
    border-radius: 15px;
    background-color: #BF9B7A;
    border: 0px;
    color: #593E2E;
    padding: 10px;
}

.password-meter-input:focus {
    outline: 0px;
    border: 0px;
}

.password-meter-label {
    font-size: 32px;
}

.password-vacía {
    color: #F2E6D8;
    text-shadow: 0 0 5px rgba(242, 230, 216, 0.5);
}

.password-débil {
    color: #E60000;
    text-shadow: 0 0 5px rgba(224, 27, 36, 0.5);
}

.password-media {
    color: rgb(255, 120, 0);
    text-shadow: 0 0 5px rgba(255, 120, 0, 0.5);
}

.password-fuerte {
    color: rgb(246, 211, 45);
    text-shadow: 0 0 5px rgba(246, 211, 45, 0.5);
}

.password-muy-fuerte {
    color: rgb(51, 209, 122);
    text-shadow: 0 0 5px rgba(51, 209, 122, 0.5);
}
